/* ==========================================================================
   Base

   Default settings
========================================================================== */
body {
	/* Styles here */
}
a {
	/* Styles here */
}
a:hover {
	/* Styles here */
}
a:focus {
	/* Styles here */
}
a:active, 
a:hover {
	/* Styles here */
}
input:focus, 
button:focus,
.mx-link:focus {
	
}
